{% extends 'base.html.twig' %}

{% block title %}liste des genres{% endblock %}
{% block body %}
    <div class="container">
        <h1>
            Tableau des genres
        </h1>
        <div class="row">
            {% for genre in genres %}
                <div class="col-md-3">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            {{ genre.libelle }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}