{% extends 'base.html.twig' %}

{% block title %}liste des prets{% endblock %}
{% block body %}
    <div class="container">
        <h1>
            Tableau des prets
        </h1>
        <div class="row">
            {% for pret in prets %}
                <div class="col-md-3">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            {{ pret.datePret }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ pret.dateRetour }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}