{% extends 'base.html.twig' %}
{% block title %}
    liste des adhérents
{% endblock %}
{% block body %}
    <div class="container">
        <h1>
            Tableau des adhérents
        </h1>
        <div class="row">
            {% for adherents in adherent %}
                <div class="col-md-3">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            {{ adherents.nom }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ adherents.prenom }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        <strong>Email:</strong> {{ adherents.email }}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <strong>Téléphone:</strong> {{ adherents.telephone }}
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>{% endblock %}