{% extends 'base.html.twig' %}

{% block title %}liste des auteurs{% endblock %}
{% block body %}
    <div class="container">
        <h1>
            Tableau des auteurs
        </h1>
        <div class="row">
            {% for auteur in auteurs %}
                <div class="col-md-3">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            {{ auteur.nom }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ auteur.prenom }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}